.image-feed-container {
  .feed-frame {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=);
    background-size: cover;
    > .filler {
      min-height: 260px;
    }
  }
}